<div class="individualComment">
    <div class="commentBody">
        {{ content }}
    </div>
    <div class="commentFooter">
        - {{ user.username }} commented on {{format_date created_date }}
    </div>
</div>