<div class="card">
    <div class="card-header"><header>Create New Post</header></div>
    <form class="form create-form">
        <div class="form-group">
            <label for="title">Title:</label>
            <input class="form-input" type="text" id="title" />
        </div>
        <div class="form-group">
            <label for="content">Content:</label>
            <textarea class="form-input" id="content" rows="5" cols="40"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn">Create</button>
        </div>
    </form>
</div>
<script src="/js/create.js"></script>